@import "base/variables";
@import "../components/nav";
@import "../components/clock";
@import "../components/controls";
@import "./page-title";

$space-large: 3.5rem;
$title-color: blue;;

h2 {
  color: $title-color;
}

input[type=search] {
  box-shadow: none;
}
